{% extends "homepage/layout.html" %}
{% load staticfiles%}
{%block title%}YumKitchen{%endblock%}
{% block stylesheet %}<link href="{% static 'css/menustyles.css' %}" rel="stylesheet">{% endblock %}
{% block content%}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
			<a class="navbar-brand"><img src="{% static 'img/logo/logo.png' %}" class="img-fluid" style="max-width: 200px;" /></a>
			<span class="navbar-text">YumKitchen</span>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapse_target">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<button type="button" onclick="location.href='{% url 'homepage:index' %}'" class="btn w3-mobile btn-default w3-text-white navbar-btn"><img src="{% static 'img/logo/homes.png' %}" class="img-fluid"/> Home</button>
					</li>


                    <li class="nav-item">
						<button type="button" onclick="location.href='{% url 'homepage:menu' %}'" class="btn w3-mobile btn-default w3-text-white navbar-btn"><img src="{% static 'img/logo/menu.png' %}" class="img-fluid"/> Menu</button>
					</li>
                    <li class="nav-item">
						<button type="button" onclick="location.href='{% url 'homepage:services' %}'" class="btn w3-mobile btn-default w3-text-white navbar-btn"><img src="{% static 'img/logo/services.png' %}" class="img-fluid"/> Services</button>
					</li>
                    <li class="nav-item">
						<button type="button" onclick="location.href='{% url 'homepage:reservation' %}'" class="btn w3-mobile btn-default w3-text-white navbar-btn"><img src="{% static 'img/logo/reservation.png' %}" class="img-fluid"/> Reservation</button>
					</li>
                    <li class="nav-item">
						<button type="button" onclick="location.href='{% url 'homepage:payment' %}'" class="btn w3-mobile btn-default w3-text-white navbar-btn"><img src="{% static 'img/logo/payment.png' %}" class="img-fluid"/> Payment</button>
					</li>



					<li class="nav-item">
						<button type="button" onclick="location.href='{% url 'homepage:news' %}'" class="btn btn-default w3-mobile w3-text-white navbar-btn"><img src="{% static 'img/logo/news.png' %}" class="img-fluid"/> News</button>
					</li>
					<li class="nav-item">
						<button type="button" onclick="location.href='{% url 'homepage:information' %}'" class="btn btn-default w3-mobile w3-text-white navbar-btn"><img src="{% static 'img/logo/info.png' %}" class="img-fluid"/> Information</button>
					</li>
				</ul>
			</div>
		</nav>
    <!--    <div class="row">
            <div class="col-sm-12">
                <img src="{% static 'img/pictures/8.jpg' %}" class="w3-image"/>
                <div class="w3-display-topright left_styles_img_text">
                    <h1>Welcome</h1>
                    <p>Welcome</p>
                </div>
            </div>
        </div>
        -->
        <div class="bodyy">
            <div class="bgimg-1">
                <div class="caption">
                    <span class="border">MENU</span>
                </div>
            </div>

            <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
                <h3 style="text-align:center;">Yumkitchen's menu</h3>
                <p>A menu is arguably the most important marketing material a restaurant has to sell itself which makes restaurant menu design crucial to the success of any restaurant, large or small.
                    The menu can be dynamically added according to each restaurant's needs. The Sample design for each of the menu is given below : -</p>
                <div class="card-deck">
                    <div class="card">
                        <img src="{% static 'img/pictures/pizza.jpg' %}" alt="Pizza" style="width:100%">
                        <h1>Pizza</h1>
                        <p class="price">$4.99</p>
                        <p><button>Order Now!</button></p>
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pictures/pizza.jpg' %}" alt="Pizza" style="width:100%">
                        <h1>Chicken Khana</h1>
                        <p class="price">$3.99</p>
                        <p><button>Order Now!</button></p>
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pictures/pizza.jpg' %}" alt="Pizza" style="width:100%">
                        <h1>Tailored Jeans</h1>
                        <p class="price">$19.99</p>
                        <p><button>Order Now!</button></p>
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pictures/pizza.jpg' %}" alt="Pizza" style="width:100%">
                        <h1>Tailored Jeans</h1>
                        <p class="price">$19.99</p>
                        <p><button>Order Now!</button></p>
                    </div>
                </div>
            </div>

            <div class="bgimg-2">
                <div class="caption row">
                    <span class="border col" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SPECIALITY</span>
                </div>
            </div>

            <div style="position:relative;">
                <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                    <p>Speciality of the food items can be categorized. People can be order the special food. And administrator should be entry based on the available food.</p>
                </div>
            </div>

            <div class="bgimg-3">
                <div class="caption row">
                    <span class="border col" style="background-color:transparent;font-size:25px;color: #f7f7f7;">MENU REPOSITORY</span>
                </div>
            </div>

            <div style="position:relative;">
                <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                    <p>You can store all the menu of your business. All the data will be encrypted and store in the database. Your data will be safe with us. </p>
                </div>
            </div>

            <div class="bgimg-1">
                <div class="caption">
                    <span class="border">YUMKITCHEN</span>
                </div>
            </div>
        </div>
		<footer class="jumbotron text-center foot_panel w3-animate-bottom" style="margin-bottom:0;">
			<p><a href=""><img src="{% static 'img/logo/facebook.png' %}"/></a>  |  <a href=""><img src="{% static 'img/logo/twitter.png' %}"/></a>  |  <a href=""><img src="{% static 'img/logo/instagram.png' %}"/></a>
  			<p>&copy 1999-2018 by YumKitchen Data.</p>
  			<p> All Rights Reserved.</p>
  			<p>Powered by YumKitchen.</p>
		</footer>

{% endblock %}